* {
	font-family: helvetica;
	/* Avenir Next, medium. Arista 2.0 Light. Regular. Avenir Next, Demi Bold  */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}





/*  dispositivos grandes  */

@media (min-width: 992px) {

	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {

		float: left;
	
		

	}

	.col-lg-1 {
		width: 8.33%;
	}

	.col-lg-2 {
		width: 16.66%;
	}

	.col-lg-3 {
		width: 25%;
	}

	.col-lg-4 {
		width: 33%;
	}

	.col-lg-5 {
		width: 41.66%;
	}

	.col-lg-6 {
		width: 50%;
	}

	.col-lg-7 {
		width: 58.33%;
	}

	.col-lg-8 {
		width: 66.66%;
	}

	.col-lg-9 {
		width: 74.99%;
	}

	.col-lg-10 {
		width: 83.33%;
	}

	.col-lg-11 {
		width: 91.66%;
	}

	.col-lg-12 {
		width: 100%;
	}


	

}
 

/*  dispositivos medianos  */

@media (min-width: 768px) and (max-width: 991px) {

	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {

		float: left;
		

	}

	.col-md-1 {
		width: 8.33%;
	}

	.col-md-2 {
		width: 16.66%;
	}

	.col-md-3 {
		width: 25%;
	}

	.col-md-4 {
		width: 33%;
	}

	.col-md-5 {
		width: 41.66%;
	}

	.col-md-6 {
		width: 50%;
	}

	.col-md-7 {
		width: 58.33%;
	}

	.col-md-8 {
		width: 66.66%;
	}

	.col-md-9 {
		width: 74.99%;
	}

	.col-md-10 {
		width: 83.33%;
	}

	.col-md-11 {
		width: 91.66%;
	}

	.col-md-12 {
		width: 100%;
	}



	.info-size-md {
		/* width: 100%; */
	}


	.cabecera-size-md {
		
		margin-left: 33%;
	}






} 





@media (max-width: 767px) {



	.cabecera-size-lg {
		
		margin-left: 10%;
	}





/* Agrupacion de menu flotante de funciones: llamar, wapp, cita y guardar   */
	.col-ch-3 {
		float: left;
		width: 25%;
	}

	.col-ch-4 {
		float: left;
		width: 33%;
	}

	.col-ch-6 {
		float: left;
		width: 50%;
	}
}



/* estilo */
header {
	width: 100%;
	position: fixed;
	z-index: 100;
	box-shadow: 0px 0px 2px 1px #C6C5C5;
	background-color: white;
}

.header-categoria {
	width: 340px;
	margin: auto;
	padding-top: 20PX;

}

.header-categoria > img{
	float: left;
}

.header-categoria > h3{
	float: left;
}

.header-categoria > p{
	float: left;
}

.header-categoria > h3 {
	margin-top: 15px;
	margin-left: 10px;
	}

.header-categoria >p {
	margin-left: 10px;
}






.regresar-btn {
	clear: both;
	width: 375px;
	margin: auto;
}

.regresar-btn > a {

	float: left;
	margin-left: 10px;
	
}

.regresar- > a {
	font-size: 16px;
	text-decoration: none;

}

.regresar- {
	
	font-size: 16px;
	margin-left: 10px;
	margin-top: 26px;
	text-decoration: none;
	color: black;
	float: left;
	
}

.regresar-btn >h4 {
	float: right;
}	

.regresar-btn > h4 {
	background-color: #F04B2D;
	color: white;
	width: 130px;
	height: 40px;
	border-radius: 10px 0px 0 10px;
	padding-left: 20px;
	padding-top: 12px;
	margin-top: 12px;
}






.platillo {
	width: 375px;
	height: 500px;
	margin: auto;
	position: relative;
	padding-top: 170px;
	/*border:1px solid red; */

}

.titulo-platillo > p{
	position: absolute;
	top: 220px;
	width: 375px;
	font-size: 30px;
	text-align: center;
}



.precio >p {
	position: absolute;
	top: 255px;
	width: 375px;
	text-align: center;	
	font-size: 25px;
}

.descripcion-platillo  >p{
	position: absolute;
	top: 320px;
	width: 375px;
	text-align: center;	
	font-size: 18px;
}

.ver-mas >p{
	position: absolute;
	top: 750px;
	width: 375px;
	text-align: center;	
	margin: auto;
	
}

.ver-mas-img {
	position: absolute;
	top: 770px;
	width: 375px;
	text-align: center;	
	margin: auto;
}








.platillo-2 {
	width: 375px;
	height: 500px;
	margin: auto;
	position: relative;
	margin-top: 400px;


}

.titulo-platillo-2 > p{
	position: absolute;
	top: 70px;
	width: 375px;
	font-size: 30px;
	text-align: center;	
	
}

.precio-2 > p{
	position: absolute;
	top: 104px;
	width: 375px;
	text-align: center;	
	font-size: 25px;
}

.descripcion-platillo-2 > p{
	position: absolute;
	top: 170px;
	width: 375px;
	text-align: center;	
	font-size: 18px;
}

.ver-mas-2 > p{
	position: absolute;
	top: 630px;
	width: 375px;
	text-align: center;	
	margin: auto;
}

.ver-mas-img-2 {
	position: absolute;
	top: 650px;
	width: 375px;
	text-align: center;	
	margin: auto;
}







.platillo-3 {
	width: 375px;
	height: 500px;
	margin: auto;
	position: relative;
	margin-top: 200px;


}

.titulo-platillo-3 > p{
	position: absolute;
	top: 70px;
	width: 375px;
	text-align: center;	
	font-size: 30px;
}

.precio-3 >p{
	position: absolute;
	top: 104px;
	width: 375px;
	text-align: center;	
	font-size: 25px;
}

.descripcion-platillo-3 >p {
	position: absolute;
	top: 170px;
	width: 375px;
	text-align: center;
	font-size: 18px;
}

.ver-mas-3 > p {
	position: absolute;
	top: 630px;
	width: 375px;
	text-align: center;	
	margin: auto;
}

.ver-mas-img-3 {
	position: absolute;
	top: 650px;
	width: 375px;
	text-align: center;	
	margin: auto;
}


/* Como llegar */

.como-llegar {
	width: 230px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	clear: both;
	margin-top: 300px;


}

.como-llegar > h4 {
	float: left;
	padding-top: 20px;
	padding-left: 10px;
		

}

.como-llegar > img {
	float: left;
		

}


/* footer */

footer {

}
.footer {
	clear: both;
	margin-top:200px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	background-color: #4B4B4B;
	color: white;

}

.footer > p{
	margin-top: 30px;
	text-align: center;

}

.links-footer > a {
	color: white;
	padding: 5%;
}
